{% extends "home.html" %}
    {% block content %}

        <div class=" section " id="About">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">About LocoPy</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <img src="/static/images/about2.svg" alt="" width="90%" height="400px">
                </div>
                <div class="col-6 p-2">
                    <h2 class="section-heading">About LocoPy</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus asperiores at impedit amet unde repellendus harum corrupti voluptatum perspiciatis dolore praesentium repellat accusamus atque excepturi nobis est, eaque eligendi quo.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 px-5">
                    <h2 class="section-heading">About LocoPy</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed repellendus quia nobis eos, aspernatur unde quas dolorum deserunt rem magnam alias optio eum aliquam rerum vero deleniti praesentium officiis reiciendis?</p>
                </div>
                <div class="col-6 p-2">
                    <img src="/static/images/about1.svg"  alt=""  width="90%" height="400px">
                </div>
            </div>
        </div>
        
    {% endblock %}