{% extends "home.html" %}
    {% block content %}

        <div class="section " id="Play">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">PLAY</h2>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4 px-5">
                    <div class="card" style="width: 22rem;">
                        <img src="/static/images/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Begginner</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{url_for('level1')}}" class="btn btn-primary">Click To Play</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 px-5">
                    <div class="card" style="width: 22rem;">
                        <img src="/static/images/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Intermediate</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{url_for('level2')}}" class="btn btn-primary">Click To Play</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 px-5">
                    <div class="card" style="width: 22rem;">
                        <img src="/static/images/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Advanced</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{url_for('level3')}}" class="btn btn-primary">Click To Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endblock %}