<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>

    <!--<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
        <div class="inner">-->
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{{url_for('registedarkred')}}">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>
                    <form action="">
                        <span class="login100-form-title p-b-34 p-t-27">
                            LocoPy Registration Form
                        </span>
                        <div class="form-group">
                            <div class="form-wrapper">
                                <br>
                                <label for="">First Name</label>
                                <input type="text" class="form-control" name="fname">
                                
                            </div>
                            <p class="txt1"style="color: darkred;">{{first}}</p>
                            <div class="form-wrapper">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" name="lname">
                                
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <label for="">Email</label>
                            <input type="text" class="form-control" name="email">
                            
                        </div>
                        <p class="txt1"style="color: darkred;">{{email}}</p>
                        <div class="form-wrapper">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="pass">
                            
                        </div>
                        <p class="txt1"style="color: darkred;">{{password}}</p>
                        <div class="form-wrapper">
                            <label for="">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm">
                            
                        </div>
                        <p class="txt1"style="color: darkred;">{{confirm}}</p>
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="checkbox">
                            <label class="label-checkbox100" for="ckb1">
                                I accept the Terms of Use & Privacy Policy.
                            </label>
                        </div>
                        <p class="txt1"style="color: darkred;">{{checked}}</p>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Register Now
                            </button>
                        </div>
                    </form>
            </div>
        </div>

</body>

</html>