{% extends "userhome.html" %}
    {% block content %}

        <div class=" section " id="About">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">About LocoPy</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <img src="/static/images/aaa.gif" alt="" width="90%" height="400px">
                </div>
                <div class="col-6 p-2">
                    <h2 class="section-heading">What is LocoPy?</h2>
                    <p>LocoPy is a Web Application where you can play various games as well as you can implement them. It
                        provides a great platform for a user who wants to learn coding by implementing and can also refresh
                        his/her mind by playing user friendly games such as Snake game, Number Guessing Game and many more... </p>
                    </p>    
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 px-5">
                    <h2 class="section-heading">Why named as LocoPy?</h2>
                    <p>The name of the application i.e. <em>LocoPy</em> is a combination of two words i.e. <b>'Loco'</b> and <b>'Py'</b>. "Loco" is a slang word
                        used for "Crazy" and "Py" is the prefix of "Python" as it is a Python based application.
                    </p>
                </div>
                <div class="col-6 p-2">
                    <video width="100%" height="65%" autoplay muted loop>
                    <source src="/static/images/Loco.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        
    {% endblock %}