{% extends "userhome.html" %}
    {% block content %}

        <div class=" section " id="Why">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">WHY LocoPy?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <img src="/static/images/why.gif" alt="" width="100%" height="400px">
                </div>
                <div class="col-6 p-2">
                    <h2 class="section-heading">Cool Facts About This Site:</h2>
                    <li>User Friendly Environment.</li>
                    <li>Play, Code, implement and Grow.</li>
                    <li>Easy to use Application.</li>
                    <li>Good Interface.</li>
                    <li>Provides facility to switch tabs using Voice Recognition.</li>   
                </div>
            </div>
        </div>
        
    {% endblock %}