{% extends "userhome.html" %}
    {% block content %}

        <div class="section " id="Learn">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">LEARN</h2>
                </div>
                <div class="row">
                    <div class="col-6 p-2">
                        <img src="/static/images/learn.gif" alt="" width="90%" height="400px">
                    </div>
                    <div class="col-6 p-2">
                        <h2 class="section-heading">How you Learn Here....</h2>
                        <p>This site can also be used for the learning purpose.</p>
                        <p> <i><b>So what are you waiting for?</b></i> Write code in the provided compiler --> Make Mistakes
                             --> Identify them --> Learn from your mistakes --> Correct them --> And enhance your knowledge</p>
                        <p><i><b>Here we provide you the games code also.</b></i> So, What are you waiting for -->
                              Go to Play -->Click to Learn --> Get the code -->Edit the Code -->Run The code</p>
                        <p><b>All the Best!</b></p>    
                        <a href="{{url_for('userplay',username=user)}}" class="btn btn-primary p-2 mt-3 " style="width:80px; font-weight: bold;">Play</a>                 
                        <a href="{{url_for('learn',username=user)}}" class="btn btn-primary p-2 mt-3 " style="width:80px; font-weight: bold;">Learn</a>
                    </div>
                </div>
            </div>
        </div>
        
    {% endblock %}